/* || root*/ 

:root {
    --main-color: #1C2752;
    --secondary-color: #7E7E7E;
    --main-background:#F4F4F4;
}

/* || general styles*/

.container{
    display: flex;
    justify-content: center;
    width: 100%;
}
.container__content {
    max-width: 1200px;
    width: 100%;
    display: flex;
}
.button {
    border: none;
    background:none;
    color: var(--main-color);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
.subtitle {
    display: flex;
    align-items: center;
    gap: 10px;
    background: var(--main-background);
    padding: 8px 16px;
}
/* || typography*/

html{
    font-family: Inter;
    font-size: 18px;
}
h4 {
    color: var(--main-color);
    font-family: Mulish;
    font-size: 20px;
    font-weight: 700;
}
p {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}
.main-blue {
    color: var(--main-color);
}
.main-gray {
    color: var(--secondary-color);
}
.light-gray {
    color: #D2D2D2;
}

/* || header*/ 

header {
    position: relative;
}
.header-line {
    background: #F2F2F2;
    padding: 19px 0px;
    color: var(--main-color);
}
.header-line .container__content {
    justify-content: space-between;
}
.header-logo .container__content {
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 75px;
}
.header-line__images {
    display: flex;
    align-items: center;
    gap: 17px;
}
.header-line__images img {
    width: 17px;
    height: 17px;
    cursor: pointer;
}
.header-logo__img {
    cursor: pointer;
    width: 241px;
    height: 47px;
}
.header-logo__cards {
    display: flex;
    gap: 68px;
    align-items: center;
}
.header-logo__card {
    display: flex;
    gap: 11px;
    align-items: center;
}
.header-logo__card p {
    margin-top: 4px;
}

/* || Navigation*/

.main-navigation {
    position: absolute;
    bottom: -66px;
}
.main-navigation nav{

    background: #FFB342;
    padding: 14px;
    display: flex;
    justify-content: space-between;
}
.main-navigation ul {
    display: flex;
    gap: 50px;
}
.main-navigation ul li {
    display: flex;
    align-items: center;
    gap: 6px;
}
.main-navigation ul a {
    color: #2F2F2F;
    font-size: 20px;
    font-weight: 600;
}
.main-navigation nav > a {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    background: var(--main-color);
    padding: 20px 22px;
}

/* || Hero*/
.hero {
    background-image: url(../image/png/hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 924px;
}
.hero .container__content {
    gap: 25px;
    flex-direction: column;
    height: 100%;
    align-items: start;
    justify-content: center;
}
.hero h1 {
    color: #FFF;
    font-family: Mulish;
    font-size: 60px;
    font-weight: 800;
    width: 610px;
}
.hero button {
    background: #FFB342;
    padding: 20px 33px;
    margin-top: 10px;
}