/* || root*/ 

:root {
    --main-color: #1C2752;
    --secondary-color: #7E7E7E;
    --main-background:#F4F4F4;
}

/* || general styles*/

.container{
    display: flex;
    justify-content: center;
    width: 100%;
}
.container__content {
    max-width: 1200px;
    width: 100%;
    display: flex;
}
.button {
    border: none;
    background:none;
    color: var(--main-color);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
.subtitle {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    background: var(--main-background);
    padding: 8px 16px;
}
.title-style {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    color: var(--main-color);
}
.middle-title-style {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    color: var(--main-color);
}
/* || typography*/

html{
    font-family: Inter;
    font-size: 18px;
}
h2 {
    color: var(--main-color);
    font-family: Mulish;
    font-size: 45px;
    font-weight: 800;
}
h4 {
    color: var(--main-color);
    font-family: Mulish;
    font-size: 20px;
    font-weight: 700;
}
p {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}
.main-blue {
    color: var(--main-color);
}
.main-gray {
    color: var(--secondary-color);
}
.light-gray {
    color: #D2D2D2;
}

/* || header*/ 

header {
    position: relative;
}
.header-line {
    background: #F2F2F2;
    padding: 19px 0px;
    color: var(--main-color);
}
.header-line .container__content {
    justify-content: space-between;
}
.header-logo .container__content {
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 75px;
}
.header-line__images {
    display: flex;
    align-items: center;
    gap: 17px;
}
.header-line__images img {
    width: 17px;
    height: 17px;
    cursor: pointer;
}
.header-logo__img {
    cursor: pointer;
    width: 241px;
    height: 47px;
}
.header-logo__cards {
    display: flex;
    gap: 68px;
    align-items: center;
}
.header-logo__card {
    display: flex;
    gap: 11px;
    align-items: center;
}
.header-logo__card p {
    margin-top: 4px;
}

/* || Navigation*/

.main-navigation {
    position: absolute;
    bottom: -66px;
}
.main-navigation nav{

    background: #FFB342;
    padding: 14px;
    display: flex;
    justify-content: space-between;
}
.main-navigation ul {
    display: flex;
    gap: 50px;
}
.main-navigation ul li {
    display: flex;
    align-items: center;
    gap: 6px;
}
.main-navigation ul a {
    color: #2F2F2F;
    font-size: 20px;
    font-weight: 600;
}
.main-navigation nav > a {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    background: var(--main-color);
    padding: 20px 22px;
}

/* || Hero*/
.hero {
    background-image: url(../image/png/hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 924px;
}
.hero .container__content {
    gap: 25px;
    flex-direction: column;
    height: 100%;
    align-items: start;
    justify-content: center;
}
.hero h1 {
    color: #FFF;
    font-family: Mulish;
    font-size: 60px;
    font-weight: 800;
    width: 610px;
}
.hero button {
    background: #FFB342;
    padding: 20px 33px;
    margin-top: 10px;
}

/* || provide future */

.provide-future {
    margin-top: 150px;
}
.provide-future .container__content {
    gap: 60px;
    align-items: center;
}
.provide-future__texts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.provide-future__texts > p {
    color: var(--secondary-color);
}
.provide-future__experience {
    display: flex;
    align-items: center;
    gap: 40px;
}
.provide-future__experience div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background: #F4F4F4;
    padding: 35px 34px;
}
.provide-future__experience h3 {
    color: #FFB342;
    font-size: 60px;
    font-weight: 900;
}
.provide-future__experience p {
    color: var(--main-color);
    font-weight: 800;
    font-size: 20px;
}
.provide-future__experience ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #7E7E7E;
}

/* || main service*/

.main-service {
    background: #FFB342;
    padding: 127px 0px 0px 0px;
}
.main-service .container__content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-service__titles {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 650px;
    text-align: center;
}
.main-service__cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0px 40px 0px;
}
.main-service__cards div {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 12px 30px;
    cursor: pointer;
    border: 1px solid #1C2752;
}
.main-service__cards > :nth-child(1) {
    background: #FFF;
    border: none;
}
.main-service__content {
    display: flex;
    gap: 40px;
    background: #FFF;
    padding: 60px 66px 0px 66px;
}
.main-service__content > p {
    color: #7E7E7E;
    font-size: 18px;
    font-weight: 400;
    width: 550px;
}

/* || our service*/
.our_service  {
    background: #F4F4F4;
    padding: 300px 0px 150px 0px;
}
.our_service .container__content {
    gap: 37px;
    flex-direction: column;
    justify-content: center;
}
.our_service .middle-title-style > p {
    text-align: center;
    color: #7E7E7E;
    width: 650px;
}
.our_service__cards > div {
    background: var(--main-color);
    width: 350px;
    padding: 45px 35px;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.our_service__cards h3 {
    color: #FFB342;
    font-family: Mulish;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 6px;
}
.our_service__cards p {
    color: #D2D2D2;
    color: var(--secondary-color);
}
.our_service__cards button {
    background: none;
    border: none;
    margin-top: 30px;
    color: #FFF;
    cursor: pointer;
}
.our_service__cards img {
    width: 48px;
    height: 48px;
    margin-bottom: 20px;
    color: #FFF;
}
.our_service__cards {
    display: flex;
    gap: 27px;
    flex-wrap: wrap;
    justify-content: center;
}

/* || our works*/

.choose-us {
    gap: 70px;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap-reverse;
}
.choose-us__subcontent {
    position: relative;
}
.choose-us__cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 50%;
    right: 50%;
    border: 1px solid #000;
    background: rgba(28, 39, 82, 0.70);
    backdrop-filter: blur(12.5px);
    padding: 182px 115px;
    transform: translate(50%, -50%);
}
.choose-us__cards > div {
    display: flex;
    align-items: center;
}
.choose-us__cards > div :first-child {
    background: #FFB342;
    color: var(--main-color);
    text-align: center;
    font-family: Mulish;
    font-size: 25px;
    font-weight: 800;
    padding: 17px 18px;
    width: 96px;
}
.choose-us__cards > div :last-child {
    color: #FFF;
    font-family: Mulish;
    font-size: 25px;
    font-weight: 700;
    border: 1px solid #FFF;
    padding: 16px 22px;
    width: 260px;
}
.choose-us__texts .title-style h2 {
    width: 510px;
}
.choose-us__texts .title-style > p {
    color: var(--secondary-color);
    width: 550px;
}
.choose-us__bullets {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 44px;
}
.choose-us__bullets > div {
    display: flex;
    align-items: start;
    gap: 13px;

}
.choose-us__bullets > div h3 {
    color: var(--main-color);
    font-family: Mulish;
    font-size: 20px;
    font-weight: 700;
}
.choose-us__bullets > div p {
    color: #7E7E7E;
    margin-top: 4px;
    width: 513px;
}
/* || our works*/

.our-works {
    flex-direction: column;
    justify-content: center;
    background-color: var(--main-color);
    padding: 170px 0px;
}
.our-works .middle-title-style h2 {
    color: #FFF;
}
.our-works__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 60px;
}
.our-works__cards div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: #FFF;
    padding: 21px 22px;
}
.our-works__cards h3 {
    color: var(--main-color);
    font-family: Mulish;
    font-size: 25px;
    font-weight: 700;
}
.our-works__cards p {
    color: var(--secondary-color);
}
.testimonial {
    margin: 150px 0px;
}
.testimonial .container__content {
    gap: 39px;
    justify-content: center;
    flex-wrap: wrap;
}
.testimonial .container__content > div {
    width: 550px;
}
.testimonial__customers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.testimonial__user {
    margin-top: 23px;
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 20px 0px;
    border-bottom: 1px solid #DCDCDC;
}
.testimonial__user > div {
    display: flex;
    align-items: center;
    gap: 10px;
}
.testimonial__user > div img {
    border-radius: 50%;
}
.testimonial__user > div p {
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 400;
    margin-top: 6px;
}
.testimonial__comment {
    margin-top: 40px;
    border: 1px solid #DCDCDC;
    padding: 39px;
}
.testimonial__comment > div > p {
    margin-top: 20px;
    margin-bottom: 30px;
    color: var(--secondary-color);
    width: 450px;
}
.testimonial__comment > div span {
    color: var(--main-color);
    font-size: 22px;
}
.testimonial__question {
    background: #FFB342;
    padding: 50px 40px;
    margin-top: 30px;
}
.testimonial__question h4 {
    margin: 20px 0px 12px 0px;
}
.testimonial__question > p {
    color: var(--main-color);
    width: 450px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}
.testimonial__form .title-style {
    margin-bottom: 40px;
} 
.testimonial__form  form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: #F4F4F4;
    padding: 68px 58px;
}
.testimonial__form  form input,
.testimonial__form  form textarea {
    padding: 20px 20px;
    color: #7E7E7E;
}
.testimonial__form  form button {
    background: #FFB342;
    color: var(--main-color);
    padding: 20px 0px;
    text-align: center;
    border: none;
    cursor: pointer;
}

/* || prices */
.prices {
    padding: 100px 0px;
    background: #F4F4F4;
}
.prices .container__content {
    display: flex;
    flex-direction: column;
    gap: 74px;
}
.prices__titles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.prices__titles > p {
    color: var(--secondary-color);
    width: 550px;
}

.prices__cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}
.prices__card {
    padding: 40px;
    background: #FFF;
}
.prices__card > :first-child {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 32px;
    border-bottom: 1px solid #D7D7D7;
    padding: 0px 0px 32px 0px;
}
.price-number {
    font-size: 30px;
    margin-top: 5px;
}
.prices__card > :first-child > p {
    color: var(--secondary-color);
}
.prices__card > :nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.prices__card > :nth-child(2) div {
    display: flex;
    gap: 12px;
}
.prices__card > :nth-child(2) p {
    color: var(--secondary-color);
}
.prices__card button {
    color: var(--main-color);
    margin-top: 44px;
    font-size: 20px;
    width: 100%;
    padding: 20px 0px;
    text-align: center;
    background: #FFB342;
    border: none;
    cursor: pointer;
}
.prices__cards > :nth-child(2) button {
    background: none;
    border: 1.5px solid #FFB342;
}
.prices__card-popular {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 5px;
}
.prices__card-popular :first-child {
    color: var(--main-color);
    background: #FFB342;
    padding: 5px 12px;
}
.prices__card-popular :last-child {
    color: var(--secondary-color);
}

/* || news */
.news {
    padding:  100px 0px;
}
.news-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 29px;
}
.news .container__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.news-cards__wrapper {
    width: 584px;
}
.news-cards__wrapper > :first-child {
    position: relative;
}
.news-cards__wrapper > :first-child > div {
    display: flex;
    position: absolute;
    bottom:  -20px;
    left: 50%;
    transform: translateX(-50%);
}
.news-user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 20px 29px;
    background: #FFC368;
    width: 180px;
}
.news-user h4 {
    font-size: 15px;
}
.news-time {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    background: #FFB342;
    width: 180px;
    font-size: 14px;
}
.news-time h4 {
    font-size: 15px;
}
.news-cards__text h3 {
    color: var(--main-color);
    font-family: Mulish;
    font-size: 30px;
    margin-top: 60px;
}
.news-cards__text p {
    color: var(--secondary-color);
    line-height: 26.014px;
    margin-top: 10px;
    margin-bottom: 26px;
}
.news-cards__wrapper button {
    color: var(--main-color);
    font-size: 20px;
    font-weight: 600;
    border: none;
    background: none;
    cursor: pointer;
}

/* || subscribe */
.subscribe {
    margin-top: 150px;
    background:#FFB342;
    padding: 109px 0px;
}
.subscribe .container__content {
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.subscribe__content h3 {
    color: var(--main-color);
    font-family: Mulish;
    font-size: 45px;
    font-weight: 800;
}
.subscribe__content p {
    margin-top: 10px;
    max-width: 590px;
}
.subscribe__content span {
    color: var(--main-color);
    font-weight: 700;
}
.subscribe__form {
    display: flex;
    align-items: center;
}
.subscribe__form input {
    padding: 20px 19px;
    width: 320px;
    background: none;
    border: 1px solid #FFF;
}
.subscribe__form button {
    padding: 17px 19px;
    background: #FFF;
    border: none;
    color: var(--main-color);
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

/* || footer */

.footer-adresses {
    color: #FFF;
    padding: 35px 0px;
    background: var(--main-color);
}
.footer-adresses .container__content {  
    flex-direction: column;
    justify-content: space-between;
}
.footer-adresses__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    border-bottom: 1px solid #4B557D;
    padding:  0px 0px 56px 0px;
    margin-bottom: 41px;
}
.footer-adresses__header > img {
    width: 240px;
    height: 40px;
}
.footer-adresses__card {
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer-adresses__content {
    display: flex;
    border-bottom: 1px solid #4B557D;
    padding: 67px;
}
.footer-adresses__content > :first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #4B557D;
    padding-right: 50px;
}
.footer-adresses__content > :first-child p {
    width: 400px;
}
.footer-adresses__content > :nth-child(2) {
    display: flex;
    gap: 60px;
    border-right: 1px solid #4B557D;
    padding: 0px 60px 0px 60px;
}
.footer-adresses__content > :nth-child(2) div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.footer-adresses__content > :nth-child(2) a {
    color: #FFF;
    font-weight: 200;
    line-height:31.504px; 
}
.footer-adresses__content > :nth-child(3) {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 60px;
}
.footer-adresses__content > :nth-child(3) a {
    color: #FFF;
    font-weight: 200;
    line-height:31.504px; 
}
.footer-adresses__copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 19px;
}

@media (max-width: 1480px) {
    .choose-us {
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 1024px) {
    .main-navigation {
        bottom: 0;
    }
    .main-navigation nav > a {
        display: none;
    }
    .provide-future .container__content {
        flex-direction: column-reverse;
    }
    .main-service__content > img {
        display: none;
    }
    .choose-us__subcontent > img {
        width: 100%;
    }
    .footer-adresses .container__content > div {
        flex-direction: column;
        align-items: center;
    }
    .footer-adresses__content {
        display: none;
    }
    .footer-adresses__card {
        width: 223px;
    }
}

@media (max-width: 730px) {
    .header-logo .container__content {
        flex-direction: column;
    }
    .hero h1 {
        width: auto;
    }
    .main-navigation {
        display: none;
    }
    .header-logo .container__content > div {
        width: 244px;
        margin-top: 20px;
        gap: 20px;
        flex-direction: column;
    }
    .subscribe .container__content {
        flex-direction: column;
    }
    .main-service__titles {
        width: auto;
    }
    .main-service__titles p {
        width: 98%;
    }
    .main-service__cards {
        flex-direction: column;
        align-items: center;
        gap: 20px;  
    }   
    .main-service__cards div {
        width: 202px;
    }
    .our_service .middle-title-style > p {
        width: 98%;
    }
    .choose-us__subcontent {
        display: none;
    }
    .news-cards__wrapper {
        width: 310px;
    }
    .news-cards__wrapper > div > img {
        width: 100%;
    }
    .testimonial__customers {
        width: 100%;
    }
    .provide-future .container__content > img {
        width: 100%;
    }
    .choose-us__texts .title-style {
        display: none;
    }
    .choose-us__bullets {
        display: none;
    }
    .testimonial__question {
        width: 100%;
        padding: 8px;
    }
    .testimonial__question > p {
        width: auto;
    }
    .testimonial__comment > div > p {
        width: auto;
    }
}

@media (max-width: 500px) {
    .our_service {
        padding: 20px 0px;
    }
    .our-works__cards img {
        width: 100%;
    }
    .prices__titles {
        flex-direction: column;
    }
    .prices__titles p {
        width: 100%;
    }
    .subscribe__form {
        flex-direction: column;
        gap: 10px;
    }
    .main-service__content {
        padding: 0px;
    }
    .testimonial__form form {
        padding: 0px;
    }
    .news-time {
        width: auto;
    }
}